<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Otp</title>
</head>
<body>
<div class=" px-xl-5">
    <div class=" mb-5 contact-us" style="">
        <div class="contact-form bg-light p-30">
            <div id="success"></div>
            <form method="post">
                {% csrf_token %}
                <div class="control-group">
                    {% for error in form.phone.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    Enter The Code Here:
                    {{ form.code }}
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    {{ form.password }}
                    <p class="help-block text-danger"></p>
                </div>
                <div>
                    <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>