<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Password Change Form</span></h2>
    <div class="px-xl-5">
        <div class=" mb-5 contact-us" style="">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form method="post" action="{% url "accounts_app:pass_change" %}">
                    {% csrf_token %}
                    <h2>Do you forget your password?</h2>
                    <h5>New password will send to this email: {{ request.user.email }}</h5>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>