<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-shopping-cart"></i>
    <span>Your Cart</span>
    <div class="qty">{{ cart.total_quantity }}</div>
</a>
<div class="cart-dropdown">
    <div class="cart-list">
        {% for item in cart.cart_items.all %}
            <div class="product-widget">
                <div class="product-img">
                    {% if item.product.main_image %}
                        <img src="{{ item.product.main_image.url }}" alt="" width="35px" height="50px">
                    {% else %}
                        <img src="" alt="No Image Available!" width="35px" height="50px">
                    {% endif %}
                </div>
                <div class="product-body">
                    <h3 class="product-name"><a href="
                               {% url "product_app:product_detail" item.product.id %}">
                        {{ item.product.title }}</a>
                    </h3>
                    <h4 class="product-price"><span
                            class="qty">{{ item.quantity }}x</span>${{ item.total_item_price }}
                    </h4>
                </div>
                <button onclick="delete_from_cart({{ item.id }})"
                        class="delete"><i
                        class="fa fa-close"></i></button>
            </div>
        {% empty %}
            <p style="color: red; font-weight: bold;">your basket is empty!</p>
        {% endfor %}
    </div>
    <div class="cart-summary">
        <small>{{ cart.len }} Item(s) selected</small>
        <h5>SUBTOTAL: ${{ cart.total_cart_price }}</h5>
    </div>
    <div class="cart-btns">
        <a href="{% url "cart_app:cart_page" %}">View Cart</a>
        <a href="{% url "cart_app:checkout_page" %}">Checkout <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>