{% load static %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/nouislider.min.js" %}"></script>
<script src="{% static "js/jquery.zoom.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/ajax/ajax-add-to-cart.js" %}"></script>
<script src="{% static "js/ajax/ajax-delete-from-cart.js" %}"></script>
<script src="{% static "js/ajax/ajax-add-to-cart-store.js" %}"></script>
<script src="{% static "js/ajax/ajax-like-products.js" %}"></script>
<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
<script src="{% static "js/ajax/ajax-update-cart.js" %}"></script>
<script src="{% static "js/ajax/ajax-apply-coupon.js" %}"></script>
<script src="{% static "js/ajax/ajax-store-filters.js" %}"></script>
<script src="{% static "js/ajax/ajax-dependent-fields.js" %}"></script>
<script src="{% static "js/ajax/ajax-pagination.js" %}"></script>
