{% extends "base.html" %}
{% load static %}

{% block title %}
     <title>Checkout Page</title>
{% endblock %}

{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-7">
                    <!-- Billing Details -->
                    {% if not request.user.addresses.all %}
                        <div class="billing-details">
                            <div class="section-title">
                                <h3 class="title">Billing address</h3>
                            </div>
                            <form action="{% url "cart_app:address" %}?next={% url "cart_app:order_detail" order.id %}"
                                  method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="input" id="body" type="text" name="full-name" placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="address" placeholder="Address">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="city" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="postal-code" placeholder="Postal Code">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="phone" placeholder="Phone number">
                                </div>
                                <button type="submit" class="btn btn-success">submit your address</button>
                            </form>
                            <div class="form-group">
                            </div>
                        </div>
                    {% else %}
                        <select name="address" class="form-control" aria-label="Default select example">
                            <option selected>Available Addresses</option>
                            {% for address in request.user.addresses.all %}
                                <option value="{{ address.address }}">{{ address.address }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    <!-- /Billing Details -->

                    <!-- Shiping Details -->
                    {% if request.user.addresses.all %}
                        <div class="shiping-details">
                            <div class="section-title">
                                <h3 class="title">Do you want another address?</h3>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="shiping-address">
                                <label for="shiping-address">
                                    <span></span>
                                    diffrent address?
                                </label>
                                <div class="caption">
                                    <form action="{% url "cart_app:address" %}?next={% url "cart_app:order_detail" order.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input class="input" type="text" name="full-name" placeholder="Full Name">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="email" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="text" name="address" placeholder="Address">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="text" name="city" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="text" name="postal-code"
                                                   placeholder="Postal Code">
                                        </div>
                                        <div class="form-group">
                                            <input class="input" type="tel" name="phone" placeholder="Phone number">
                                        </div>
                                        <button type="submit" class="btn btn-success">Add Address!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- /Shiping Details -->

                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Order Notes"></textarea>
                    </div>
                    <!-- /Order notes -->
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Your Order</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            {% for item in order.items.all %}
                                <div class="order-col">
                                    <div>{{ item.quantity }}x - {{ item.product.title }}</div>
                                    <div>${{ item.costprice }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="order-col">
                            <div>Shipping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">${{ cart.total }}</strong></div>
                        </div>
                    </div>
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                Zarin Pall
                            </label>
                            <div class="caption">
                                <p>درگاه پرداخت زرین پال</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            I've read and accept the <a href="#">terms & conditions</a>
                        </label>
                    </div>
                    <br>
                    {% if user.addresses.all %}
                        <a href="#" class="primary-btn order-submit">Pay</a>
                    {% else %}
                        <span class="btn btn-danger" onclick="move()">Pls Add Address</span>
                    {% endif %}
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <script type="text/javascript">
        function move() {
            window.location.href = "#body"
        }
    </script>
{% endblock %}
