<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">

    <title>Electro Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin-top: 20px;
        }

        .cart-item-thumb {
            display: block;
            width: 10rem
        }

        .cart-item-thumb > img {
            display: block;
            width: 100%
        }

        .product-card-title > a {
            color: #222;
        }

        .font-weight-semibold {
            font-weight: 600 !important;
        }

        .product-card-title {
            display: block;
            margin-bottom: .75rem;
            padding-bottom: .875rem;
            border-bottom: 1px dashed #e2e2e2;
            font-size: 1rem;
            font-weight: normal;
        }

        .text-muted {
            color: #888 !important;
        }

        .bg-secondary {
            background-color: #f7f7f7 !important;
        }

        .accordion .accordion-heading {
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: bold;
        }

        .font-weight-semibold {
            font-weight: 600 !important;
        }
    </style>
</head>
<body>
<div class="container pb-5 mt-n2 mt-md-n3">
    <div class="row">
        <div class="col-xl-9 col-md-8">
            <h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary"><span>Your Order</span><a
                    class="font-size-sm" href="{% url "product_app:store_page" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-chevron-left" style="width: 1rem; height: 1rem;">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
                Continue shopping</a></h2>

            {% for item in order.order_items.all %}
                <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                    <div class="media d-block d-sm-flex text-center text-sm-left">
                        <a class="cart-item-thumb mx-auto mr-sm-4"
                           href="{% url "product_app:product_detail" item.product.id %}"><img
                                src="{{ item.product.main_image.url }}" alt="Product"></a>
                        <div class="media-body pt-3">
                            <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a
                                    href="{% url "product_app:product_detail" item.product.id %}">{{ item.product.title }}</a>
                            </h3>
                            <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>{{ item.color }}</div>
                            <div class="font-size-lg pt-2">${{ item.product.discount_price }}</div>
                            <div id="{{ item.id }}-total-price" class="font-size-lg text-primary pt-2">
                                ${{ item.price }}</div>
                        </div>
                    </div>
                    <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left"
                         style="max-width: 10rem;">
                        <div class="form-group mb-2">
                            <label for="quantity1">Quantity</label>
                            <input class="form-control form-control-sm" type="number" disabled
                                   id="{{ item.id }}-quantity" value="{{ item.quantity }}">
                        </div>
                        {#                        <button onclick="update_cart(`{{ item.id }}`)"#}
                        {#                                class="btn btn-outline-secondary btn-sm btn-block mb-2" type="button">#}
                        {#                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"#}
                        {#                                 fill="none"#}
                        {#                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"#}
                        {#                                 class="feather feather-refresh-cw mr-1">#}
                        {#                                <polyline points="23 4 23 10 17 10"></polyline>#}
                        {#                                <polyline points="1 20 1 14 7 14"></polyline>#}
                        {#                                <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path>#}
                        {#                            </svg>#}
                        {#                            Update cart#}
                        {#                        </button>#}
                        <a class="btn btn-outline-danger btn-sm btn-block mb-2"
                           href="{% url "cart_app:order_item_delete" item.id %}?page_pk={{ item.order.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-trash-2 mr-1">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                            Remove
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-xl-3 col-md-4 pt-3 pt-md-0">
            <h2 class="h6 px-4 py-3 bg-secondary text-center">Subtotal</h2>

            <div id="subtotal-price" class="h3 font-weight-semibold text-center py-3">${{ order.subtotal }}</div>
            <hr>
            <a class="btn btn-primary btn-block" href="{% url "cart_app:check_reservation" order.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-credit-card mr-2">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                </svg>
                Proceed to Checkout</a>
            <div class="pt-4">
                <div class="accordion" id="cart-accordion">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="accordion-heading font-weight-semibold"><a href="#promocode" role="button"
                                                                                  data-toggle="collapse"
                                                                                  aria-expanded="true"
                                                                                  aria-controls="promocode">Apply Coupon
                                code<span class="accordion-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                           height="24" viewBox="0 0 24 24" fill="none"
                                                                           stroke="currentColor" stroke-width="2"
                                                                           stroke-linecap="round"
                                                                           stroke-linejoin="round"
                                                                           class="feather feather-chevron-up"><polyline
                                        points="18 15 12 9 6 15"></polyline></svg></span></a></h3>
                        </div>
                        <p style="color: red; font-size: x-large">coupon used: {{ order.coupon_used }}</p>
                        <div class="collapse show" id="promocode" data-parent="#cart-accordion">
                            <form action="{% url "cart_app:apply_coupon" order.id %}" method="GET">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input class="form-control" name="coupon_code" type="text" id="coupon_code"
                                               placeholder="Coupon code" required>
                                        <div class="invalid-feedback">Please provide a valid discount coupon!</div>
                                    </div>
                                    <button class="btn btn-outline-primary btn-block"
                                            type="submit">Apply Coupon
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static "js/ajax/ajax-update-cart.js" %}"></script>
<script type="text/javascript">

</script>
</body>
</html>