{% load static %}
{% load templatetags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro Shop</title>

    <!-- Google font -->
    {% include "includes/header_includes.html" %}


</head>
<body>
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +0917-091-0714</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> alizadehsam31@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Iran, Shiraz</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="{% static "/img/logo.png" %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="{% url "product_app:store_page" %}" method="GET">
                            <input class="form-control" id="q" list="products" type="text" name="q"
                                   placeholder="Search here.."
                                   {% if "q" in request.GET %}value="{{ request.GET.q }}"{% endif %}>
                            <button type="submit" class="search-btn">Search</button>
                        </form>

                        <datalist id="products">
                            {% for product in products %}
                                <option value="{{ product.title }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="{% url "product_app:wishlist_page" %}">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div id="like-count" class="qty">{{ request|wishlist_count }}</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown" id="home_cart_list">
                            {% include "includes/cart_template.html" %}
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li {% if request.resolver_match.url_name == "main" %}class="active"{% endif %}><a
                        href="{% url "home_app:main" %}">Home</a></li>
                {#                <li {% if request.resolver_match.url_name == "store_page" %}class="active"{% endif %}><a#}
                {#                        href="{% url "product_app:store_page" "new" %}">Store</a></li>#}
                <li {% if request.resolver_match.url_name == "store_page" %}class="active"{% endif %}><a
                        href="{% url "product_app:store_page" %}">Store</a></li>
                {% if request.user.is_authenticated is True %}
                    <li {% if request.resolver_match.url_name == "orders" %}class="active"{% endif %}><a
                            href="{% url "cart_app:orders" %}">Your Orders</a></li>
                    <li><a href="{% url "account_app:logout" %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url "account_app:register" %}">Register</a></li>
                    <li><a href="{% url "account_app:login" %}">Login</a></li>
                {% endif %}
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->



{% block content %}

{% endblock %}


<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p>Beginner Backend Developer.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Shiraz, Iran</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+0917-091-714</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>alizadehsam31@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a href="{% url "cart_app:cart_page" %}">View Cart</a></li>
                            <li><a href="{% url "product_app:wishlist_page" %}">Wishlist</a></li>
                            <li><a href="{% url "cart_app:orders" %}">Track My Order</a></li>
                            <li><a href="#">Help, alizadehsam31@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
{% include 'includes/footer_includes.html' %}

</body>
</html>
